{% extends 'core/base.html' %}

{% block title %}Mesajlaşma{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


<style>
    .messages-container .table-responsive {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .message-headers,
    .message-row {
        display: flex;
        justify-content: space-between;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        justify-content: flex-start;
    }

    .message-header,
    .message-data {
        flex-grow: 1;
        padding: 8px;
        padding-left: 15px;
        border-bottom: 1px solid #ccc;
        text-align: left;
        box-sizing: border-box;
    }

    .message-headers {
        background-color: #0094c1;
        color: white;
        padding: 8px;

    }

    .message-data {
        padding-right: 20px;
        flex: 1;
        text-align: left;
        padding-left: 20px;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .message-header {
        background-color: #0094c1;
        color: white;
    }
</style>

<!-- Messages -->
<div style="text-align: center;width: 100%;margin-top: 4%;">
    <h1>Gelenler</h1>
    <div class="messages-container">
        {% if messages %}
        <div class="message-headers">
            <div class="message-header">Gönderen</div>
            <div class="message-header">Tam Ad</div>
            <div class="message-header">Başlık</div>
            <div class="message-header">Mesaj</div>
            <div class="message-header">Tarih</div>
            <div class="message-header">Aksiyonlar</div>

        </div>
        {% for item in messages %}
        {%if item.deletedAt is None%}
        {%if not item.readStatus%}
        <div style="background-color: yellow;"class="message-row">
            <div class="message-data">{{ item.sender.username }}</div>
            <div class="message-data">{{ item.sender.first_name}} {{item.sender.last_name}}</div>
            <div class="message-data">{{ item.title }}</div>
            <div class="message-data">{{ item.message }}</div>
            <div class="message-data">{{ item.createdAt }}</div>
            <div class="message-data">
                {%if item.replyStatus%}
                <i data-bs-toggle="modal" data-bs-target="#infoModal{{item.id}}"onclick="updateReadStatus({{ item.id }})" class="fa-solid fa-circle-info fa-2xl"></i>
                {%else%}
                <i data-bs-toggle="modal" data-bs-target="#replyModal{{item.id}}"onclick="updateReadStatus({{ item.id }})" class="fa-solid fa-reply fa-2xl"style="color: #74C0FC;"></i>
                {%endif%}
                <i data-bs-toggle="modal" data-bs-target="#deleteModal{{item.id}}" class="fa-solid fa-xmark fa-2xl" style="color: #ff0000;"></i>
            </div>
        </div>
        {%endif%}
        {%if item.readStatus%}
        <div class="message-row">
            <div class="message-data">{{ item.sender.username }}</div>
            <div class="message-data">{{ item.sender.first_name}} {{item.sender.last_name}}</div>
            <div class="message-data">{{ item.title }}</div>
            <div class="message-data">{{ item.message }}</div>
            <div class="message-data">{{ item.createdAt }}</div>
            <div class="message-data">
                {%if item.replyStatus%}
                <i data-bs-toggle="modal" data-bs-target="#infoModal{{item.id}}"onclick="updateReadStatus({{ item.id }})" class="fa-solid fa-circle-info fa-2xl"></i>
                {%else%}
                <i data-bs-toggle="modal" data-bs-target="#replyModal{{item.id}}"onclick="updateReadStatus({{ item.id }})" class="fa-solid fa-reply fa-2xl"style="color: #74C0FC;"></i>
                {%endif%}
                <i data-bs-toggle="modal" data-bs-target="#deleteModal{{item.id}}" class="fa-solid fa-xmark fa-2xl" style="color: #ff0000;"></i>
            </div>
        </div>
        {%endif%}
        {%endif%}
    </div>


    <!-- Reply Modal -->
    <form action="{% url 'reply' %}" method="POST" enctype="multipart/form-data">
        <div class="modal fade" id="replyModal{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mesaj Bilgileri / Yanıtla</h5>
                        <button type="button" onclick="yenilemeFonksiyonu()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label>gönderen: {{ item.sender.username }}</label> <br>
                        <label>gönderilen: {{ item.receiver.username }}</label> <br>
                        <label>Başlık: {{ item.title }}</label> <br>
                        <label>Mesajın Tam Hali: {{ item.message }}</label> <br>
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <br>
                        <input type="text" name="replyMessage" class="form-control"
                            placeholder="Yanıt mesajınızı yazın..." required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Gönder</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- info Modal -->
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="modal fade" id="infoModal{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mesaj Gönder</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="yenilemeFonksiyonu()"></button>
                    </div>
                    <div class="modal-body">
                        <h6>gönderici: {{ item.sender.username }}</h6> <br>
                        <h6>alıcı: {{ item.receiver.username }}</h6> <br>
                        <h6>Başlık: {{ item.title }}</h6> <br>
                        <label
                            style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">Mesajın
                            Tam Hali:<br> {{ item.message }}</label> <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="yenilemeFonksiyonu()">Anladım</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- delete Modal -->
    <form action="{% url 'softdelete' item.id %}" method="POST" enctype="multipart/form-data">
        <div class="modal fade" id="deleteModal{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Silmekten emin misin?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Mesajı silmekten emin misin? Bu işlem geri alınamaz.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">sil</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endfor %}
    {% else %}
    <p>Hiç mesajın yok.</p>
    {% endif %}
    <!-- Trigger Modal Button -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sendMessageModal"
        style="display: block;margin: auto;margin-top:10px;width:132px">
        Mesaj Gönder
    </button>
</div>
</div>
</div>

<!-- Send Message Modal -->
<form action="{% url 'contacts' %}" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="sendMessageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mesaj Gönder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Gönderilecek kişi" name="receiver" required>
                    <br>
                    <input type="text" class="form-control" placeholder="Başlık" name="headingMessage" required>
                    <br>
                    <textarea class="form-control" placeholder="Mesaj" name="sendMessage" required></textarea>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Gönder</button>
                </div>
            </div>
        </div>
    </div>
</form>

    <script>
    function updateReadStatus(messageId) {
        fetch('/readStatus/' + messageId)
        .then(response => response.text())
        .then(data => console.log(data));
    }

    function yenilemeFonksiyonu() {
        window.location.reload();
    }
    </script>

{% endblock %}