<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <title>Kaydol | Mavikuş Mesajlaşma </title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .vertical-center {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .info-section {
            background-color: #007BFF;
            color: white;
            padding: 50px;
        }

        .signup-form {
            width: 75%;
            max-width: 400px;
        }
    </style>
</head>

<body style="font-family: Arial, sans-serif;background-color: #f8f9fa">

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-6 vertical-center">
                <div class="text-center w-100">
                    <h2>Kaydol</h2>
                    <form method="post" action="." class="signup-form mx-auto">
                        {% csrf_token %}
                        {% if messages %}
                        <div class="container-fluid">
                            {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Ad" name="first_name" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Soyad" name="last_name" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="username" required>
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="Email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Şifre" name="password1" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Yeniden Şifre" name="password2" required>
                        </div>
                        <p>Zaten bir hesabın var mı? O zaman <a href="{% url 'login' %}">buraya</a> tıklayarak giriş yap.</p>
                        <button type="submit" class="btn btn-primary">Kaydol</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 info-section vertical-center">
                <!-- Information Panel -->
                <div>
                    <h2>Neden Mavikus.net?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nibh magna. Donec sodales, sapien quis volutpat faucibus, enim velit pretium est, sit amet facilisis sem dolor sit amet ex.</p>
                    <p>Phasellus mollis velit at risus tempor pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
